
/* Styling for Buttons */
/*#btnPost, #btnShowPosts, #btnUpdatePost, #btnDeletePost {
    -fx-background-color: #3498db;  Blue background 
    -fx-text-fill: white;           White text 
    -fx-font-size: 16px;            Font size 
    -fx-border-radius: 5px;         Rounded corners 
    -fx-background-radius: 5px;
    -fx-border-color: #2980b9;      Border color 
    -fx-border-width: 2px;
    -fx-padding: 10px;
}*/
.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

/* Styling for MenuButton */
#menuBtn {
    -fx-background-color:  #0b76ab;  
/*    -fx-text-fill: white;           White text */
/*    -fx-font-size: 14px;            Font size */
/*    -fx-border-radius: 5px;         Rounded corners 
    -fx-background-radius: 5px;
    -fx-border-color: #1a3845;      Border color 
    -fx-border-width: 2px;*/
    -fx-border: none;
}

Button {
    -fx-background-color:  #0b76ab; /* Blue background */
    -fx-text-fill: white;          /* White text */
    -fx-padding: 5px;
}


/* Styling for HBox (Menu bar) */
#hboxMenu {
    -fx-background-color: #0b76ab; /* Background color */
    -fx-padding: 10px;             /* Padding */
    -fx-spacing: 50px;             /* Spacing between children */
}

/* Styling for MenuButton */
#menuBtn {
    -fx-background-color: #0b76ab;  
    -fx-border: none;
    -fx-background-image: url("../resources/menu_icon.png");
}

#menuBtn:hover {
    -fx-background-color: #2b5063;
}

/* Styling for MenuItems */
.menu-item {
    -fx-background-color: #ecf0f1; /* Light grey background */
    -fx-text-fill: #2c3e50;        /* Dark text */
    -fx-font-size: 14px;           /* Font size */
}

.menu-item:hover {
    -fx-background-color: #7ab1ce; /* Hover effect with darker grey background */
}

#imgLogo{
    
}

#txtSearch{
/*    -fx-border-width: 2px;           Set the border width */
    -fx-border-radius: 30px;         /* Set rounded corners */
    -fx-background-radius: 30px;
    -fx-alignment: CENTER;
}