/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 Aug 2024, 14:26:37
    Author     : Bruneez
*/
/* styles.css */

.list-cell {
    -fx-font-size: 19px;  /* Cshange the font size here */
}

.searchTxt{
    fx-border-radius: 30px;         /* Set rounded corners */
    -fx-background-radius: 30px;
}

.HBox {
    -fx-background-color: #0b76ab; /* Background color */
    -fx-padding: 10px;             /* Padding */
    -fx-spacing: 50px;             /* Spacing between children */
}

.Text{
    
}

.Button{
        -fx-background-color:  #0b76ab; /* Blue background */
    -fx-text-fill: white;          /* White text */
    -fx-padding: 5px;
}

.favLabel{
    
}